@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbar pero permitir scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: black;
  color: white;
  overflow: hidden; /* Evita scroll en la página principal */
}